.d3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 100px;

}
.img-3d{
    height: 300px;
}

.d3 h1 {
    color: white;
    margin-top: 20px;
}
.d3 h4 {
    color: white;
    margin-top: 20px;
    text-align: end;
    padding: 25px;
    padding-left: 180px;
    padding-right: 180px;
}


@media only screen and (max-width: 1000px) {
    .d3 h4 {
        color: white;
        margin-top: 20px;
        text-align: end;
        padding: 25px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media only screen and (max-width: 1000px) {
    .d3 h4 {
        color: white;
        margin-top: 20px;
        text-align: end;
        padding: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }
}